body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}
img{
    border-radius: 50%;
}
section {
    margin: 2em;
}

h1, h2 {
    color: #d47575;
}

contact-info {
    margin-bottom: 1em;
}

contact-info p {
    margin: 0.5em 0;
}


education h2, experience h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    padding: 0;
    color: darkred;
}

li {
    margin-bottom: 0.5em;
    list-style-type: square;
}

skills {
    margin-bottom: 2em;
}

skills ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

skills li {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;
    color: darkblue;
}
p{
    margin-left: 4 px;
}
.bg-image{
    .bg-image {
        /* The image used */
        background-image: url("https://wallpapercave.com/w/wp7257232");
      
        /* Add the blur effect */
        filter: blur(8px);
        -webkit-filter: blur(8px);
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }